
.certifications__clippingMask{
    border-radius: var(--radius-12, 12px);
    overflow: hidden;
    margin-bottom: 24px;
}

.certifications__clippingMask__img{
    position: relative;
    max-height: 100%;
}

.certificatios__info{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.certificatios__info__job{
    font-size: 16px;
    font-weight: 500;
}

.certificatios__info__date{
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    color:var(--mid-gray-color)
}

.certifications__container__frame2{
    display: none;
}

/* *********DISPLAY LAYOUT********* */


@media screen and (min-width: 800px){
    .certifications{
        
        grid-area: certifications;
        width: 1448px;
        height: 329px;
    }


    .certifications__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 48px;
    }

    .certifications__container__frame, 
    .certifications__container__frame2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 1px solid var(--gray-color);
        border-radius: 12px;
        width: 295px;
        height: 250px;
        padding: 16px;
    }

    .certifications__clippingMask{
        width: 227px;
        height: 151.47px;
        overflow: hidden;
        position: relative;
        
    }

    .certifications__clippingMask__img{
       max-width: 100%;
       max-height: 100%;
    }

    .certificatios__info{
        width: 100%;
    }

}
