
.experience__frame, .experience__frame2{
    display: flex;
    border: 1px solid var(--gray-3, #C4C4C4);
    border-radius: var(--radius-12, 12px);
    padding: 8px;
    align-items: center;
}
    
.experience__leftFrame{
    width: 50%;
    height: 236px;
    padding: 4px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience__leftFrame__date{
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    margin-top: 10px;
    color:var(--mid-gray-color)
}

.experience__leftFrame__job{
    font-size: 16px;
    font-weight: 500;
    margin-top: 6px;
}

.experience__rightFrame{
    width: 50%;
}

.experience__frame2{
    display: none;
}


/* *********DISPLAY LAYOUT********* */


@media screen and (min-width: 800px){
.experience{
    max-width: 559px;
    height: 723px;
}

.experience__frameContainer{
    padding: 24px 16px 24px 16px;
}

.experience__frame, .experience__frame2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 188.66px;
    padding: 8px 8px 24px 8px;
    margin-bottom: 16px;
}

.experience__leftFrame{
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.experience__leftFrame__tx{
    display: flex;
    flex-direction: column;
    max-width: 178px;
}

.experience__rightFrame{
    max-width: 261px;
}

.experience__rightFrame__tx{
    font-size: 16px;
}
}