
.header__frameInfo{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    width: 100%;
    }

.header__frameInfo__clippingMask{
    width: 366px;
    height: 340px;
    overflow: hidden;
    margin: auto;
    position: relative;
    border-radius: 12px;
    margin-bottom: 16px;
    justify-content: center;
}

.header__frameInfo__clippingMask__profileImg{
    position:absolute;
    top: -12%;
    width: 100%;
}

.header__frameInfo__contact{
    padding: 8px;
}

.header__contact__mail{
    margin-left: 8px;
    position: absolute;
    transform: translateY(-5%);
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}


/* *********DISPLAY LAYOUT********* */


@media screen and (min-width: 800px){

    .header{
        width: 100%;
        height: 662px;
        grid-area: header;
    }

    .header__frameInfo__clippingMask{
        display: flex;
        margin: auto;
    }
}