@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

:root{
    --dark-gray-color:#4F4F4F;
    --mid-gray-color:#828282;
    --gray-color:#C4C4C4;
    --light-gray-color: #F3EBEB;
    --blue-color:#2F80ED;
    --white-color:#FFF;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-gray-color);
    padding: 16px;
    max-width: 462px;
    min-width: 462px;
}

header, .skills,
.proyects, .preview,
.preview2,.experience, .certifications{
    background-color: var(--white-color);
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 24px;
    width: 100%;
}

h1{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

h2{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: var(--mid-gray-color);
}

h3{    
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-gray-color)
}

h4{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

p{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color:var(--mid-gray-color);
}

a:hover {
    background-color:var(--blue-color);
    color: var(--white-color);
    border: 1px solid var(--blue-color)
}


/* *********JS SELECTION BUTTONS********* */

.showBtn{
    background-color: var(--blue-color);
    color: var(--white-color);
    border: none;
}


/* *********DISPLAY LAYOUT********* */


@media screen and (min-width: 800px){

    .body{
        display: grid;
        grid-template-columns: 38,6% 61,4%;
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 16px;
        grid-row-gap: 24px auto;
        
        .header{ grid-area: 1 / 1 / 2 / 2; }
        .main{ grid-area: 1 / 2 / 3 / 3; }
        .experience{ grid-area: 2 / 1 / 3 / 2; }
        .certifications{ grid-area: 3 / 1 / 4 / 3; }
    }

}